body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.weather {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-left: 8pt;
  padding-right: 8pt;
  line-height: 20pt;
  height: 20pt;
  border-radius: 4pt;
  background-color: #78cbbf;
  cursor: pointer;
}


.location {
  font-size: xx-large;
  font-weight: bold;  
  text-align: center;
  padding-top: 15pt;  
  padding-left: 15pt;
  padding-right: 15pt;
}

.temp {
  font-size: 100px;
  font-weight: bolder;
}

.app {
  transition: 0.4s ease-out;
  width: 100%;
}


.app.froid {
  background-color: rgb(172, 240, 240);
  border-radius: 10pt;
  text-align: center;
  height: 220pt;
}

.app.doux {
  background-color: lightgoldenrodyellow;
  border-radius: 10pt;
  text-align: center;
  height: 220pt;
}


.app.chaud {
  background-color: rgb(226, 90, 90);
  border-radius: 10pt;
  text-align: center;
  height: 220pt;
}